<template>

<lightning-input type="tel" value={dataObj.phone} name="phoneNumber"
	autocomplete="none" label="Phone" onblur={handleInput} style="width:350px;"
	maxlength=14 pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$"
	onkeyup={handleInput} required
	message-when-pattern-mismatch={ACCD_Phone_Number_Error}>
</lightning-input>

</template>
